<div class="container">
    <div class="row">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
            <div class="col-md-12">
            <br><input type="number" class="form-control m-1" placeholder="ID no." #userIdInput name="id" ngModel>
            <br><input type="text" class="form-control m-1" placeholder="Name" name="name" ngModel>
            <br><input type="email" class="form-control m-1" placeholder="E-mail" name="email" ngModel>
            <br><input type="text" class="form-control m-1" placeholder="Contact no." name="phone" ngModel>
            <br><button type="submit" class="btn btn-primary mt-2">Add User</button>
            </div>
            </div>
        </form>
    </div>
</div>